CREATE OR REPLACE FUNCTION public.get_live_stock(p_product_id UUID) RETURNS INTEGER LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS \$\$ DECLARE v_count INTEGER; BEGIN SELECT COUNT(*) INTO v_count FROM public.log_items WHERE product_id = p_product_id AND is_delivered = FALSE AND status = 'available'; RETURN v_count; END; \$\$;
